#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.recordButton {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #33ff33;

  border: 1px #33ff33 solid;
}

.recordButton:hover {
  border: 1px #33ff33 solid;
  transition: 0.4s;
}

.stopRecordButton {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ff3333;
  border: 1px #ff3333 solid;
}

.stopRecordButton:hover {
  border: 1px #ff3333 solid;
  transition: 0.4s;
}
